body {
  max-width: 1136px;
  background-color: rgba(238, 243, 248, 1);
  margin: 0 auto;
}
.big-header {
  margin-top: 22px;
  margin-bottom: 36px;
  width: 100%;
  margin-left: 22px;
  font-family: Hind;
  font-size: 25px;
  font-weight: 600;
  line-height: 40.03px;
  letter-spacing: 0.02em;
  color: rgba(255, 163, 0, 1);
}

.maincard-all {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  opacity: 0px;
  border: 1px solid rgba(232, 236, 242, 1);
  margin: 22px;
}
.maincard-container {
  width: 540px;
  height: 337px;
  gap: 16px;
  opacity: 0px;
  overflow: auto;
}
.maincard-all:hover h1 {
  display: block;

}

.maincard-container p {
  font-family: Hind;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(72, 96, 114, 1);
}
.maincard-img {
  width: 480px;
  height: 337px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
  margin-left: 24px;
}
.maintitle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.maintitle-container h1 {
  color: rgba(72, 96, 114, 1);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

}
.maintitle-container span {
  font-family: Hind;
  color: rgba(72, 96, 114, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 25.62px;
  letter-spacing: 0.02em;
  text-align: left;
}
.mainreport-link {
  display: flex;
  justify-content: space-between;
  float: right;
  align-items: center;
  font-family: Hind;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: center;
  text-decoration: none;
  color: rgba(72, 96, 114, 1);
  margin-top: 16px;
}
.bi-chevron-right {
  width: 26px;
  height: 26px;
  padding: 6px;
  gap: 0px;
  margin-left: 5px;
  color: rgba(72, 96, 114, 1);
  fill: 12px solid rgba(72, 96, 114, 1);
}

.card-container > * {
  margin-bottom: 16px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(348px, 1fr));
  justify-content: space-between;
  align-items: center;
  margin: 0 22px;
  gap: 24px;
  row-gap: 36px;
  margin-top: 36px;
}
.card-container {
  padding: 24px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px;
  opacity: 0px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(232, 236, 242, 1);
  box-shadow: 0px 0px 12px 0px rgba(83, 96, 138, 0.1);
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
}
.card-container .report-link {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: Hind;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: rgba(72, 96, 114, 1);
}

.card-exp {
  line-height: 25.62px;
  font-family: Hind;
  font-size: 16px;
  font-weight: 400;
  color: rgba(72, 96, 114, 1);
  width: 300px;
  gap: 0px;
  opacity: 0px;
}
.card-img {
  display: block;
  object-fit: contain;
  width: 100%;
  border-radius: 12px;
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-container h2 {
  color: rgba(72, 96, 114, 1);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.card-container:hover h2 {
  display: block;
}

.title-container span {
  color: rgba(72, 96, 114, 1);
  font-family: Hind;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.62px;
  letter-spacing: 0.02em;
  text-align: left;
}
.show-link {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
}
.show-button {
  width: 320px;
  height: 50px;
  font: Hind;
  background-color: rgba(104, 128, 144, 1);
  color: rgba(255, 255, 255, 1);
  font-family: Hind;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: center;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  opacity: 60%;
  gap: 10px;
  border: none;
  margin-top: 36px;
  margin-bottom: 22px;
}

@media (max-width: 730px) {
  .maincard-all {
    display: none;
  }
  .grid-container {
    gap: 24px;
    margin: 0 16px;
  }
  .show-button {
    background-image: linear-gradient(
      to right,
      rgb(86, 110, 134),
      rgb(3, 20, 26)
    );
    width: 100%;
  }
  .show-link {
    padding: 0 16px;
    margin-top: -12px;
  }
}
